---
import Layout from '../layout/layout.astro';
import Result from '../components/result.astro';
import Summary from '../components/summary.astro';
---

<Layout>
	<main>
		<Result />
		<Summary />
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		width : 45rem;
		height : 30rem;
		font-family: 'Hanken Grotesk', sans-serif;
		box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
		border-radius: 2rem;

		@media screen and (max-width : 800px) and (orientation: portrait) {
			width : 100vw;
			height : 100vh;
			min-height: 30rem;
			flex-direction: column;
			border-top-left-radius: 0rem;
			border-top-right-radius: 0rem;
		}
	}
</style>

