---
import Layout from '../layout/layout.astro';
---

<Layout>
	<main>
		<section class="result">
			<h1>Your Result</h1>
			<div class="score">
				<p class="score__value">76</p>
				<p class="score__max">of 100</p>
			</div>
			<h2>Great</h2>
			<p class="desc">You scored higher than 65% of the people who have taken these tests.</p>
		</section>
		<section class="summary">
			<h1>Summary</h1>
		</section>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		width : 45rem;
		height : 30rem;
		font-family: 'Hanken Grotesk', sans-serif;

		.result {
			width : 50%;
			background: linear-gradient(0deg,var(--Light-royal-blue),var(--Light-slate-blue));
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 2rem;
			text-align: center;

			.score {
				background: linear-gradient(0deg,transparent, var(--Violet-blue));
				border-radius: 100%;
				width : 12rem;
				height : 12rem;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				margin-top : .5rem;
				margin-bottom: .5rem;

				&__value {
					color: var(--Pale-blue);
					font-weight: 800;
					font-size: 4rem;
				}

				&__max {
					color: var(--Light-lavender);
				}
			}

			h1 {
				width : 100%;
				text-align: center;
				color: var(--Light-lavender);
				font-size : 1.4rem;
				margin-top : .75rem;
				margin-bottom: .75rem;
			}

			h2 {
				width : 100%;
				text-align: center;
				color: var(--Pale-blue);
				font-size : 2rem;
				margin-top : .75rem;
				margin-bottom: .75rem;
			}

			.desc {
				color: var(--Light-lavender);
				text-align: center;
				max-width: 70%;
				margin-top : .75rem;
				margin-bottom: .75rem;
				font-size : 1.1rem;
			}
		}

		.summary {
			width : 50%;
		}
	}
</style>

