---
import Layout from '../layout/layout.astro';
---

<Layout>
	<main>
		<section class="result">
			<h1>Your Result</h1>
			<div class="score">
				<p class="score__value">76</p>
				<p class="score__max">of 100</p>
			</div>
			<h2>Great</h2>
			<p>You scored higher than 65% of the people who have taken these tests.</p>
		</section>
		<section class="summary"></section>
	</main>
</Layout>

<style>

</style>

