---
import { Image } from 'astro:assets';

import Layout from '../layout/layout.astro';
import iconMemory from '../assets/images/icon-memory.svg';
import iconReaction from '../assets/images/icon-reaction.svg';
import iconVerbal from '../assets/images/icon-verbal.svg';
import iconVisual from '../assets/images/icon-visual.svg';
---

<Layout>
	<main>
		<section class="result">
			<h1>Your Result</h1>
			<div class="score">
				<p class="score__value">76</p>
				<p class="score__max">of 100</p>
			</div>
			<h2>Great</h2>
			<p class="desc">You scored higher than 65% of the people who have taken these tests.</p>
		</section>
		<section class="summary">
			<h1>Summary</h1>
			<div id="reaction" class="item">
				<div class="left">
					<Image src={iconReaction} alt="reaction icon" />
					<p class="title">Reaction</p>
				</div>
				<p>80/100</p>
			</div>
			<div id="memory" class="item">
				<div class="left">
					<Image src={iconMemory} alt="memory icon" />
					<p class="title">Memory</p>
				</div>
				<p>92/100</p>
			</div>
			<div id="verbal" class="item">
				<div class="left">
					<Image src={iconVerbal} alt="verbal icon" />
					<p class="title">Verbal</p>
				</div>
				<p>61/100</p>
			</div>
			<div id="visual" class="item">
				<div class="left">
					<Image src={iconVisual} alt="visual icon" />
					<p class="title">Visual</p>
				</div>
				<p>72/100</p>
			</div>
			<button>Continue</button>
		</section>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		width : 45rem;
		height : 30rem;
		font-family: 'Hanken Grotesk', sans-serif;

		.result {
			width : 50%;
			background: linear-gradient(0deg,var(--Light-royal-blue),var(--Light-slate-blue));
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 2rem;
			text-align: center;

			.score {
				background: linear-gradient(0deg,transparent, var(--Violet-blue));
				border-radius: 100%;
				width : 12rem;
				height : 12rem;

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				margin-top : .5rem;
				margin-bottom: .5rem;

				&__value {
					color: var(--Pale-blue);
					font-weight: 800;
					font-size: 4rem;
				}

				&__max {
					color: var(--Light-lavender);
				}
			}

			h1 {
				width : 100%;
				text-align: center;
				color: var(--Light-lavender);
				font-size : 1.4rem;
				margin-top : .75rem;
				margin-bottom: .75rem;
			}

			h2 {
				width : 100%;
				text-align: center;
				color: var(--Pale-blue);
				font-size : 2rem;
				margin-top : .75rem;
				margin-bottom: .75rem;
			}

			.desc {
				color: var(--Light-lavender);
				text-align: center;
				max-width: 70%;
				margin-top : .75rem;
				margin-bottom: .75rem;
				font-size : 1.1rem;
			}
		}

		.summary {
			width : 50%;
			display: flex;
			flex-direction: column;

			h1 {
				width : 100%;
				margin-left : 1rem;
				margin-top : 2.5rem;
				margin-bottom: .75rem;
			}

			#reaction {
				background-color: rgba(255, 87, 87, 0.15);

				.title {
					color: rgba(255, 87, 87);
				}
			}

			#memory {
				background-color: #FFB01F26;

				.title {
					color: #FFB01F;
				}
			}

			#verbal {
				background-color: #00BD9126;

				.title {
					color: #00BD91;
				}
			}

			#visual {
				background-color: var(--Cobalt-blue);

				.title {
					color: #1125D4;
				}
			}

			.item {
				width : 90%;
				display: flex;
				justify-content: space-between;
				border-radius: 1rem;
				margin-left : 1rem;
				margin-top : .5rem;
				margin-bottom: .5rem;
				padding : .65rem;
				padding-top : 1rem;
				padding-bottom : 1rem;

				.left {
					display: flex;
					align-items: center;

					p {
						font-size: 1.1rem;
						margin-left : .25rem;
					}
				}

				p {
					font-size : 1.05rem;
				}
			}

			button {
				width : 90%;
				display: block;
				margin-top : 1.25rem;
				margin-bottom: .75rem;
				justify-items: flex-end;
				margin-left: 1rem;
				padding : 1rem;
				border-radius: 2rem;
				color: var(--Pale-blue);
				background-color: var(--Dark-gray-blue);
				border: none;
				font-size : 1rem;
				font-weight: 700;
				cursor: pointer;
			}
		}
	}
</style>

